@use "../../styles/index" as *;

.similar-housing {
  display: flex;
  flex-direction: column;
  max-width: 1139px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 20px;

  .similar-housing-title {
    .similar-housing-title-text {
      font-size: clamp(16px, 2vw, 20px);
      line-height: clamp(24px, 4vw, 30px);
      font-weight: 500;
      color: $text-color;
    }
  }

  .similar-housing-images {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1139px;
    z-index: 0;
    gap: 29px;

    .housing-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      z-index: 1;

      &.highlight {
        z-index: 2;
        .popular-badge {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 3;
        }
      }
    }

    .popular-badge {
      position: absolute;
      top: -1px;
      right: -1px;
      background-color: $primary-color;
      color: $white-color;
      padding: 5px 35px;
      font-size: clamp(12px, 2vw, 16px);
      line-height: clamp(20px, 3vw, 28px);
      font-weight: 500;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      z-index: 2;
    }

    .housing-card-img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .housing-card-title {
      font-weight: 400;
      font-size: clamp(16px, 2vw, 20px);
      line-height: clamp(24px, 4vw, 30px);
      letter-spacing: 0%;
      color: $text-color;
      margin-bottom: 0;
    }
    .housing-card-subtitle {
      font-weight: 300;
      font-size: clamp(13px, 2vw, 15px);
      line-height: clamp(20px, 3vw, 23px);
      color: $smoke-text-color;
      margin-bottom: 0;
    }
  }

  @media (max-width: 1126px) {
    .similar-housing-images {
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }
  }

  @media (max-width: 980px) {
    .similar-housing-images {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  @media (max-width: 670px) {
    .similar-housing-images {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
