@use "../../styles/index.scss" as *;
button {
  font-family: $primary-font;
  cursor: pointer;
  text-align: center;
}
.primary-button {
  background-color: $main-btn-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: $second-white-color;
  border: none;
  border-radius: 12px;
  &:hover {
    background-color: $btn-primary-hover;
  }
}

.secondary-button {
  background-color: $primary-color;
  border-radius: 10px;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #fafafa;
  border: none;
  &:hover {
    background-color: $main-btn-color-hover;
  }
}
.tertiary-button {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: $main-btn-color;
  background: none;
  border: 1px solid $main-btn-color;
  border-radius: 10px;
  &:hover {
    background-color: rgba($main-btn-color, 0.1);
  }
}
.default-button {
  background-color: #f5f6f8;
  color: #b3b3b3;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  &:hover {
    background-color: rgba($main-btn-color, 0.1);
    color: $primary-color;
  }
}
.fourth-button {
  box-shadow: 0px 0px 16.1px -1px #00000040;
  background-color: $primary-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: $white-color;
  border: none;
  border-radius: 12px;
  &:hover {
    background-color: $main-btn-color-hover;
  }
}
