@use "../../styles/index.scss" as *;
button {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 15px 32px;
  font-family: $primary-font;
  background-color: $primary-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: $second-white-color;
  border: none;
  border-radius: 12px;
  box-shadow: #00000040;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $text-color;
    transform: scale(1.1);
  }
}
