@use "../../styles/index" as *;

.helpContainer{
max-width:1225px ;
width: 100%;
padding: 20px;
display: flex;
flex-direction: column;
.helpTitle{
h3,p{
    font-family:$secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color:$charcoal-blue;
}
p{
font-size: 12px;
color: $paragraph-color;
padding-bottom: 15px;
}
}  
}
