@use "../../styles/index" as *;

.helpContainer {
  background-color: #ffffff;
  width: 97%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  .helpTitle {
    h3,
    p {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0px;
      color: $charcoal-blue;
    }
    p {
      font-size: 12px;
      color: $paragraph-color;
      padding-bottom: 15px;
    }
  }
}
