$primary-color: #3252df;
$text-color: #152c5b;
$smoke-text-color: #b0b0b0;
$red-color: #e74c3c;
$light-blue-color: #eaf1ff;
$light-green-color: #1abc9c;
$white-color: #ffffff;
$white-smoke-color: #f5f6f8;
$black-color: #000000;
$light-gray-color: #e5e5e5;
$button-blue-color: #003DFC;
$button-text-white-color: #fafafa;