$primary-color: #3252df;
$text-color: #152c5b;
$main-btn-color: #003dfc;
$smoke-text-color: #b0b0b0;
$red-color: #e74c3c;
$light-blue-color: #eaf1ff;
$light-green-color: #1abc9c;
$white-color: #ffffff;
$second-white-color: #fffcfc;
$white-smoke-color: #f5f6f8;
$black-color: #000000;
$btn-primary-hover: #3960fd;
$main-btn-color-hover: #003dfc98;
