@use "../../styles/index" as *;

.amenities {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 1063px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 200px;
  gap: 30px;

  .amenities-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;

    .icons-img {
      max-width: 38px;
      max-height: 38px;
    }

    .icons-text {
      font-size: clamp(14px, 2vw, 16px);
      line-height: clamp(24px, 3vw, 28px);
      font-weight: 300;
      letter-spacing: 0%;
      color: $smoke-text-color;
      margin: 0;
    }

    .strong-texts {
      font-size: clamp(14px, 2vw, 16px);
      line-height: clamp(24px, 3vw, 28px);
      font-weight: 500;
      color: $text-color;
    }
  }

  @media (max-width: 1099px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 540px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 416px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
