@use "../../styles/index" as *;

.pagetitle-implementation {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    

    .pagetitle-implementation-title {
        font-size: clamp(24px, 5vw, 36px);
        line-height: clamp(36px, 6vw, 54px);
        font-weight: 700;
        text-align: center;
        color: $text-color;
    }

    .pagetitle-implementation-descriptions {
        font-size: clamp(16px, 2vw, 18px);
        line-height: clamp(24px, 3vw, 27px);
        font-weight: 300;
        text-align: center;
        color: $smoke-text-color;
    }

}