@use "../../styles/index" as *;

.details-page {
  padding: 10px;

  .details-page-header {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
  }

  .about-and-price {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    margin-top: 80px;
    gap: 50px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }

    .about-and-price-about {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 1200px) {
        padding: 0 5px;
      }

      .about-title {
        font-size: clamp(16px, 2vw, 20px);
        line-height: clamp(24px, 4vw, 30px);
        font-weight: 500;
        text-align: left;
        color: $text-color;
      }

      .about-text {
        font-size: clamp(14px, 2vw, 16px);
        line-height: clamp(24px, 3vw, 28px);
        font-weight: 300;
        text-align: left;
        color: $smoke-text-color;
      }
    }
  }
}
