@use "../../styles/index" as *;

.custom-modal {
  .ant-modal-content {
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-wrapper {
    background: url("../../assets/images/ModalComponent/background.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100vw;
    height: 80vh;
  }

  .modal-content {
    background: $modal-background-color;
    max-width: 1319px;
    width: 90%;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
  }

  .logo {
    width: clamp(220px, 50%, 280px);
  }

  .icon {
    width: clamp(50px, 15%, 70px);
  }

  p {
    font-size: clamp(22px, 3vw, 40px);
    font-weight: 500;
    text-align: center;
    color: $primary-color;
  }

  .modal-button {
    padding: 20px 100px;
    font-size: clamp(20px, 3vw, 24px);
  }
}

@media screen and (max-width: 700px) {
  .custom-modal {
    .modal-button {
      padding: 10px 50px;
    }
  }
}